--extra-index-url https://download.pytorch.org/whl/cu117

# Basic packages
tqdm==4.64.1
easydict==1.11
inflect==7.0.0
matplotlib==3.8.2
scikit-image==0.21.0
opencv-python==4.8.0.74

# Pytorch
torch==2.0.1
torchvision==0.15.2
accelerate==0.26.1

# diffusers + transformers
transformers==4.36.2
diffusers==0.20.2
openai==1.12.0
